body {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.container {
  margin: 3rem;
  text-align: center;
}
.content {
  text-align: center;
}
.corpSelector {
  margin: 3rem;
  text-align: center;
}
#inputAns {
  display: none;
  text-align: center;
}
#inputAns p {
  margin: 1rem;
}
input {
  width: 5rem;
}
table,
tr,
td {
  border: solid black 1px;
  border-collapse: collapse;
}
table.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 1rem;
}
#right {
  color: green;
}
#wrong {
  color: red;
}
#tokens,
#types {
  background-color: white;
}
#finalsb {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
