.content {
  margin: 3rem;
}
#CorpSelector {
  margin-top: 3rem;
}
#tablediv {
  display: none;
  padding-left: 18rem;
}
#submitbtn {
  margin-top: 3rem;
  margin-left: 8rem;
}
#tablediv table,
tr,
td {
  border-collapse: collapse;
  border: solid black 1px;
  padding: 1rem;
}
