.container {
  margin: 3rem;
  text-align: center;
}
.content {
  text-align: center;
}
#intro {
  display: none;
  margin: 1rem;
}
#language {
  width: fit-content;
}
#words button {
  margin: 1rem;
}
#sentence {
  display: none;
}
#correct {
  display: none;
  margin: 1rem;
}
#right {
  display: none;
}
#wrong {
  display: none;
}
